In [ ]:
#Import necessary Librairies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_recall_fscore_support
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score

In [2]:
#Dictionnary of features
columns_dict = {
    'AAGE': 'age',
    'ACLSWKR': 'class of worker',
    'ADTIND': 'industry code',
    'ADTOCC' : 'occupation code',
    'AHGA' : 'education',
    'AHRSPAY': 'wage per Hour',
    'AHSCOL' : 'enrolled in edu inst last wk', 
    'AMARITL' : 'marital status',
    'AMJIND' : 'major industry code',
    'AMJOCC' : 'major occupation code',
    'ARACE' : 'race',
    'AREORGN': 'hispanic Origin',
    'ASEX': 'sex',
    'AUNMEM': 'member of a labor union',
    'AUNTYPE': 'reason for unemployment',
    'AWKSTAT': 'full or part time employment stat',
    'CAPGAIN': 'capital gains',
    'CAPLOSS' : 'capital losses',
    'DIVVAL': 'divdends from stocks',
    'FILESTAT': 'tax filer status',
    'GRINREG': 'region of previous residence',
    'GRINST': 'state of previous residence',
    'HHDFMX': 'detailed household and family stat',
    'MARSUPWT' : 'instance Weight',
    'HHDREL': 'detailed household summary in household',
    'MIGMTR1': 'migration code-change in msa',
    'MIGMTR3': 'migration code-change in reg',
    'MIGMTR4': 'migration code-move within reg',
    'MIGSAME': 'live in this house 1 year ago',
    'MIGSUN': 'migration prev res in sunbelt',
    'NOEMP': 'num persons worked for employer',
    'PARENT': 'family members under 18',
    'PEFNTVTY': 'country of birth father',
    'PEMNTVTY': 'country of birth mother',
    'PENATVTY': 'country of birth self',
    'PRCITSHP': 'citizenship',
    'SEOTR': 'own business or self employed',
    'VETQVA': "fill inc questionnaire for veteran's admin",
    'VETYN': 'veterans benefits',
    'WKSWORK': 'weeks worked in year',
    'year': 'year',
    'salary': 'salary above 50000 or less than 50000'
}

In [3]:
## Load the Train and Test Datasets

In [4]:
df_train = pd.read_csv('./census_income_learn.csv', names= ['AAGE', 'ACLSWKR', 'ADTIND', 'ADTOCC', 'AHGA','AHRSPAY','AHSCOL', 'AMARITL',
                                                             'AMJIND', 'AMJOCC', 'ARACE', 'AREORGN',
                                                            'ASEX', 'AUNMEM', 'AUNTYPE', 'AWKSTAT', 'CAPGAIN', 'CAPLOSS', 
                                                            'DIVVAL', 'FILESTAT', 'GRINREG', 'GRINST','HHDFMX', 'MARSUPWT','HHDREL',
                                                            'MIGMTR1','MIGMTR3','MIGMTR4','MIGSAME','MIGSUN','NOEMP','PARENT','PEFNTVTY', 'PEMNTVTY',
                                                            'PENATVTY','PRCITSHP','SEOTR','VETQVA','VETYN','WKSWORK','year','salary'])

In [5]:
df_test = pd.read_csv('./census_income_test.csv', names= ['AAGE', 'ACLSWKR', 'ADTIND', 'ADTOCC', 'AHGA','AHRSPAY','AHSCOL', 'AMARITL',
                                                             'AMJIND', 'AMJOCC', 'ARACE', 'AREORGN',
                                                            'ASEX', 'AUNMEM', 'AUNTYPE', 'AWKSTAT', 'CAPGAIN', 'CAPLOSS', 
                                                            'DIVVAL', 'FILESTAT', 'GRINREG', 'GRINST','HHDFMX', 'MARSUPWT','HHDREL',
                                                            'MIGMTR1','MIGMTR3','MIGMTR4','MIGSAME','MIGSUN','NOEMP','PARENT','PEFNTVTY', 'PEMNTVTY',
                                                            'PENATVTY','PRCITSHP','SEOTR','VETQVA','VETYN','WKSWORK','year','salary'])

In [6]:
## Training and testing Dataset Statistics

In [7]:
print('training set count of (rows, columns):', df_train.shape)
print('testing set count of (rows, columns) :', df_test.shape)

training set count of (rows, columns): (199523, 42)
testing set count of (rows, columns) : (99762, 42)

In [6]:
df_train.head()

,AAGE,ACLSWKR,ADTIND,ADTOCC,AHGA,AHRSPAY,AHSCOL,AMARITL,AMJIND,AMJOCC,...,PEFNTVTY,PEMNTVTY,PENATVTY,PRCITSHP,SEOTR,VETQVA,VETYN,WKSWORK,year,salary
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,- 50000.
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.

In [ ]:
## Comparison with informations in metadata File

In [162]:
for col in df_train.columns:
    print(len(df_train[col].unique()), 'distinct values for attribute ', col, '(',columns_dict[col] ,')')

91 distinct values for attribute  AAGE ( age )
9 distinct values for attribute  ACLSWKR ( class of worker )
52 distinct values for attribute  ADTIND ( industry code )
47 distinct values for attribute  ADTOCC ( occupation code )
17 distinct values for attribute  AHGA ( education )
1240 distinct values for attribute  AHRSPAY ( wage per Hour )
3 distinct values for attribute  AHSCOL ( enrolled in edu inst last wk )
7 distinct values for attribute  AMARITL ( marital status )
24 distinct values for attribute  AMJIND ( major industry code )
15 distinct values for attribute  AMJOCC ( major occupation code )
5 distinct values for attribute  ARACE ( race )
10 distinct values for attribute  AREORGN ( hispanic Origin )
2 distinct values for attribute  ASEX ( sex )
3 distinct values for attribute  AUNMEM ( member of a labor union )
6 distinct values for attribute  AUNTYPE ( reason for unemployment )
8 distinct values for attribute  AWKSTAT ( full or part time employment stat )
132 distinct values for attribute  CAPGAIN ( capital gains )
113 distinct values for attribute  CAPLOSS ( capital losses )
1478 distinct values for attribute  DIVVAL ( divdends from stocks )
6 distinct values for attribute  FILESTAT ( tax filer status )
6 distinct values for attribute  GRINREG ( region of previous residence )
51 distinct values for attribute  GRINST ( state of previous residence )
38 distinct values for attribute  HHDFMX ( detailed household and family stat )
8 distinct values for attribute  MARSUPWT ( instance Weight )
99800 distinct values for attribute  HHDREL ( detailed household summary in household )
10 distinct values for attribute  MIGMTR1 ( migration code-change in msa )
9 distinct values for attribute  MIGMTR3 ( migration code-change in reg )
10 distinct values for attribute  MIGMTR4 ( migration code-move within reg )
3 distinct values for attribute  MIGSAME ( live in this house 1 year ago )
4 distinct values for attribute  MIGSUN ( migration prev res in sunbelt )
7 distinct values for attribute  NOEMP ( num persons worked for employer )
5 distinct values for attribute  PARENT ( family members under 18 )
43 distinct values for attribute  PEFNTVTY ( country of birth father )
43 distinct values for attribute  PEMNTVTY ( country of birth mother )
43 distinct values for attribute  PENATVTY ( country of birth self )
5 distinct values for attribute  PRCITSHP ( citizenship )
3 distinct values for attribute  SEOTR ( own business or self employed )
3 distinct values for attribute  VETQVA ( fill inc questionnaire for veteran's admin )
3 distinct values for attribute  VETYN ( veterans benefits )
53 distinct values for attribute  WKSWORK ( weeks worked in year )
2 distinct values for attribute  year ( year )
2 distinct values for attribute  salary ( salary above 50000 or less than 50000 )

## Feature Engineering, Data Preparation for ML Model

In [8]:
# Check if there is null values
df_train.isnull().values.any()

False

In [9]:
# Check if there are missing values
df_train.isna().values.any()

False

In [10]:
def encode_features(df):
    X = df.copy()
    # Categorical boolean mask
    categorical_feature_mask = X.dtypes==object 
    categorical_feature_cat = X.dtypes=='category'
    # filter categorical columns using mask and turn it into a list
    categorical_cols = X.columns[categorical_feature_mask].tolist() + X.columns[categorical_feature_cat].tolist()

    # instantiate labelencoder object
    le = LabelEncoder()

    # apply le on categorical feature columns
    X[categorical_cols] = X[categorical_cols].apply(lambda col: le.fit_transform(col))
    return X

In [32]:
# separate the features from the labels
X_train = df_train.drop(['MARSUPWT','salary'],axis=1)
y_train = df_train.salary

X_test = df_test.drop(['MARSUPWT','salary'],axis=1)
y_test = df_test.salary

X_train_encoded = encode_features(X_train)
X_test_encoded = encode_features(X_test)

In [33]:
X_train_encoded.head()

,AAGE,ACLSWKR,ADTIND,ADTOCC,AHGA,AHRSPAY,AHSCOL,AMARITL,AMJIND,AMJOCC,...,PARENT,PEFNTVTY,PEMNTVTY,PENATVTY,PRCITSHP,SEOTR,VETQVA,VETYN,WKSWORK,year
0,73,3,0,0,12,0,2,6,14,6,...,4,40,40,40,4,0,1,2,0,95
1,58,6,4,34,16,0,2,0,4,8,...,4,40,40,40,4,0,1,2,52,94
2,18,3,0,0,0,0,1,4,14,6,...,4,41,41,41,0,0,1,2,0,95
3,9,3,0,0,10,0,2,4,14,6,...,0,40,40,40,4,0,1,0,0,94
4,10,3,0,0,10,0,2,4,14,6,...,0,40,40,40,4,0,1,0,0,94

## Classification

In [34]:
# Apply Scaling
X_train, X_valid, y_train, y_valid = train_test_split(X_train_encoded, y_train, test_size=0.4, random_state=0)
scaler = preprocessing.StandardScaler().fit(X_train)
X_train_transformed = scaler.transform(X_train)
clf = svm.SVC(C=1).fit(X_train_transformed, y_train)
X_test_transformed = scaler.transform(X_valid)

In [ ]:
clf = make_pipeline(preprocessing.StandardScaler(), svm.SVC(C=1))
cross_val_score(clf, X_train, y_train, cv=5)

In [22]:
# Classifiers 
classifiers = [
    KNeighborsClassifier(3),
    SVC(kernel="linear", C=0.025),
    SVC(gamma=2, C=1),
    GaussianProcessClassifier(1.0 * RBF(1.0)),
    DecisionTreeClassifier(max_depth=5),
    RandomForestClassifier(max_depth=5, n_estimators=10, max_features=1)]

In [23]:
clf = classifiers[0]
clf.fit(X_train_encoded, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [13]:
# Training
clf = svm.LinearSVC(random_state=0, tol=1e-5)
clf.fit(X_train_encoded, y_train)

C:\Users\jaoua\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=0, tol=1e-05,
          verbose=0)

In [24]:
y_pred = clf.predict(X_test_encoded)

In [25]:
# calculate accuracy score
accuracy_score(y_test, y_pred)

0.9361179607465768

In [26]:
#precision & recall
# Output should be (precision, recall, fbeta_score)
precision_recall_fscore_support(y_test, y_pred, average='macro')

(0.716996007593778, 0.6504225687039387, 0.6763158182317522, None)

In [ ]:
(0.9098914166641989, 0.5249884749561076, 0.5323687626864619, None)