In [1]:
#Import necessary Librairies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_recall_fscore_support
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import SGDClassifier

In [2]:
#Dictionnary of features
columns_dict = {
    'AAGE': 'age',
    'ACLSWKR': 'class of worker',
    'ADTIND': 'industry code',
    'ADTOCC' : 'occupation code',
    'AHGA' : 'education',
    'AHRSPAY': 'wage per Hour',
    'AHSCOL' : 'enrolled in edu inst last wk', 
    'AMARITL' : 'marital status',
    'AMJIND' : 'major industry code',
    'AMJOCC' : 'major occupation code',
    'ARACE' : 'race',
    'AREORGN': 'hispanic Origin',
    'ASEX': 'sex',
    'AUNMEM': 'member of a labor union',
    'AUNTYPE': 'reason for unemployment',
    'AWKSTAT': 'full or part time employment stat',
    'CAPGAIN': 'capital gains',
    'CAPLOSS' : 'capital losses',
    'DIVVAL': 'divdends from stocks',
    'FILESTAT': 'tax filer status',
    'GRINREG': 'region of previous residence',
    'GRINST': 'state of previous residence',
    'HHDFMX': 'detailed household and family stat',
    'MARSUPWT' : 'instance Weight',
    'HHDREL': 'detailed household summary in household',
    'MIGMTR1': 'migration code-change in msa',
    'MIGMTR3': 'migration code-change in reg',
    'MIGMTR4': 'migration code-move within reg',
    'MIGSAME': 'live in this house 1 year ago',
    'MIGSUN': 'migration prev res in sunbelt',
    'NOEMP': 'num persons worked for employer',
    'PARENT': 'family members under 18',
    'PEFNTVTY': 'country of birth father',
    'PEMNTVTY': 'country of birth mother',
    'PENATVTY': 'country of birth self',
    'PRCITSHP': 'citizenship',
    'SEOTR': 'own business or self employed',
    'VETQVA': "fill inc questionnaire for veteran's admin",
    'VETYN': 'veterans benefits',
    'WKSWORK': 'weeks worked in year',
    'year': 'year',
    'salary': 'salary above 50000 or less than 50000'
}

In [3]:
## Load the Train and Test Datasets

In [4]:
df_train = pd.read_csv('./census_income_learn.csv', names= ['AAGE', 'ACLSWKR', 'ADTIND', 'ADTOCC', 'AHGA','AHRSPAY','AHSCOL', 'AMARITL',
                                                             'AMJIND', 'AMJOCC', 'ARACE', 'AREORGN',
                                                            'ASEX', 'AUNMEM', 'AUNTYPE', 'AWKSTAT', 'CAPGAIN', 'CAPLOSS', 
                                                            'DIVVAL', 'FILESTAT', 'GRINREG', 'GRINST','HHDFMX','HHDREL', 'MARSUPWT',
                                                            'MIGMTR1','MIGMTR3','MIGMTR4','MIGSAME','MIGSUN','NOEMP','PARENT','PEFNTVTY', 'PEMNTVTY',
                                                            'PENATVTY','PRCITSHP','SEOTR','VETQVA','VETYN','WKSWORK','year','salary'])

In [5]:
df_test = pd.read_csv('./census_income_test.csv', names= ['AAGE', 'ACLSWKR', 'ADTIND', 'ADTOCC', 'AHGA','AHRSPAY','AHSCOL', 'AMARITL',
                                                             'AMJIND', 'AMJOCC', 'ARACE', 'AREORGN',
                                                            'ASEX', 'AUNMEM', 'AUNTYPE', 'AWKSTAT', 'CAPGAIN', 'CAPLOSS', 
                                                            'DIVVAL', 'FILESTAT', 'GRINREG', 'GRINST','HHDFMX','HHDREL','MARSUPWT',
                                                            'MIGMTR1','MIGMTR3','MIGMTR4','MIGSAME','MIGSUN','NOEMP','PARENT','PEFNTVTY', 'PEMNTVTY',
                                                            'PENATVTY','PRCITSHP','SEOTR','VETQVA','VETYN','WKSWORK','year','salary'])

In [6]:
## Training and testing Dataset Statistics

In [7]:
print('training set count of (rows, columns):', df_train.shape)
print('testing set count of (rows, columns) :', df_test.shape)

training set count of (rows, columns): (199523, 42)
testing set count of (rows, columns) : (99762, 42)

In [8]:
df_train.head()

,AAGE,ACLSWKR,ADTIND,ADTOCC,AHGA,AHRSPAY,AHSCOL,AMARITL,AMJIND,AMJOCC,...,PEFNTVTY,PEMNTVTY,PENATVTY,PRCITSHP,SEOTR,VETQVA,VETYN,WKSWORK,year,salary
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,- 50000.
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.

In [9]:
## Comparison with informations in metadata File

In [10]:
for col in df_train.columns:
    print(len(df_train[col].unique()), 'distinct values for attribute ', col, '(',columns_dict[col] ,')')

91 distinct values for attribute  AAGE ( age )
9 distinct values for attribute  ACLSWKR ( class of worker )
52 distinct values for attribute  ADTIND ( industry code )
47 distinct values for attribute  ADTOCC ( occupation code )
17 distinct values for attribute  AHGA ( education )
1240 distinct values for attribute  AHRSPAY ( wage per Hour )
3 distinct values for attribute  AHSCOL ( enrolled in edu inst last wk )
7 distinct values for attribute  AMARITL ( marital status )
24 distinct values for attribute  AMJIND ( major industry code )
15 distinct values for attribute  AMJOCC ( major occupation code )
5 distinct values for attribute  ARACE ( race )
10 distinct values for attribute  AREORGN ( hispanic Origin )
2 distinct values for attribute  ASEX ( sex )
3 distinct values for attribute  AUNMEM ( member of a labor union )
6 distinct values for attribute  AUNTYPE ( reason for unemployment )
8 distinct values for attribute  AWKSTAT ( full or part time employment stat )
132 distinct values for attribute  CAPGAIN ( capital gains )
113 distinct values for attribute  CAPLOSS ( capital losses )
1478 distinct values for attribute  DIVVAL ( divdends from stocks )
6 distinct values for attribute  FILESTAT ( tax filer status )
6 distinct values for attribute  GRINREG ( region of previous residence )
51 distinct values for attribute  GRINST ( state of previous residence )
38 distinct values for attribute  HHDFMX ( detailed household and family stat )
8 distinct values for attribute  HHDREL ( detailed household summary in household )
99800 distinct values for attribute  MARSUPWT ( instance Weight )
10 distinct values for attribute  MIGMTR1 ( migration code-change in msa )
9 distinct values for attribute  MIGMTR3 ( migration code-change in reg )
10 distinct values for attribute  MIGMTR4 ( migration code-move within reg )
3 distinct values for attribute  MIGSAME ( live in this house 1 year ago )
4 distinct values for attribute  MIGSUN ( migration prev res in sunbelt )
7 distinct values for attribute  NOEMP ( num persons worked for employer )
5 distinct values for attribute  PARENT ( family members under 18 )
43 distinct values for attribute  PEFNTVTY ( country of birth father )
43 distinct values for attribute  PEMNTVTY ( country of birth mother )
43 distinct values for attribute  PENATVTY ( country of birth self )
5 distinct values for attribute  PRCITSHP ( citizenship )
3 distinct values for attribute  SEOTR ( own business or self employed )
3 distinct values for attribute  VETQVA ( fill inc questionnaire for veteran's admin )
3 distinct values for attribute  VETYN ( veterans benefits )
53 distinct values for attribute  WKSWORK ( weeks worked in year )
2 distinct values for attribute  year ( year )
2 distinct values for attribute  salary ( salary above 50000 or less than 50000 )

## Feature Engineering, Data Preparation for ML Model

In [11]:
# Check if there is null values
df_train.isnull().values.any()

False

In [12]:
# Check if there are missing values
df_train.isna().values.any()

False

In [13]:
def encode_features(df):
    X = df.copy()
    # Categorical boolean mask
    categorical_feature_mask = X.dtypes==object 
    categorical_feature_cat = X.dtypes=='category'
    # filter categorical columns using mask and turn it into a list
    categorical_cols = X.columns[categorical_feature_mask].tolist() + X.columns[categorical_feature_cat].tolist()

    # instantiate labelencoder object
    le = LabelEncoder()

    # apply le on categorical feature columns
    X[categorical_cols] = X[categorical_cols].apply(lambda col: le.fit_transform(col))
    return X

In [14]:
# separate the features from the labels
X_train = df_train.drop(['MARSUPWT','salary'],axis=1)
y_train_encoded = df_train.salary

X_test = df_test.drop(['MARSUPWT','salary'],axis=1)
y_test = df_test.salary

X_train_encoded = encode_features(X_train)
X_test_encoded = encode_features(X_test)

In [15]:
X_train_encoded.head()

,AAGE,ACLSWKR,ADTIND,ADTOCC,AHGA,AHRSPAY,AHSCOL,AMARITL,AMJIND,AMJOCC,...,PARENT,PEFNTVTY,PEMNTVTY,PENATVTY,PRCITSHP,SEOTR,VETQVA,VETYN,WKSWORK,year
0,73,3,0,0,12,0,2,6,14,6,...,4,40,40,40,4,0,1,2,0,95
1,58,6,4,34,16,0,2,0,4,8,...,4,40,40,40,4,0,1,2,52,94
2,18,3,0,0,0,0,1,4,14,6,...,4,41,41,41,0,0,1,2,0,95
3,9,3,0,0,10,0,2,4,14,6,...,0,40,40,40,4,0,1,0,0,94
4,10,3,0,0,10,0,2,4,14,6,...,0,40,40,40,4,0,1,0,0,94

## Classification

In [16]:
# Possible Classifiers to try
classifiers = [
    svm.LinearSVC(random_state=0, tol=1e-5),
    KNeighborsClassifier(3),
    SGDClassifier(max_iter=1000, tol=1e-3),
    DecisionTreeClassifier(max_depth=5),
    RandomForestClassifier(max_depth=5, n_estimators=10, max_features=1)]

In [17]:
# Separate Training from Validation Sets to test better the Classifier performance
X_train, X_valid, y_train, y_valid = train_test_split(X_train_encoded, y_train_encoded, test_size=0.33, random_state=0)
# Apply Scaling to normalize the input Dataset
scaler = preprocessing.StandardScaler().fit(X_train)
X_train_transformed = scaler.transform(X_train)
X_valid_transformed = scaler.transform(X_valid)

In [18]:
# The following transformation is a Machine learning pipeline that contains the preprocessor as first Step and then the 
# SVC as classifier.
# The whole transformation will be applied using the cross validation technique with heldout data
# The cross-validator in this case split dataset into k consecutive folds (without shuffling by default)
clf = make_pipeline(preprocessing.StandardScaler(), svm.LinearSVC(random_state=0, tol=1e-5))
cross_val_score(clf, X_train, y_train, cv=5)

C:\Users\jaoua\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\jaoua\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\jaoua\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\jaoua\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\jaoua\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

array([0.94744913, 0.94614004, 0.94599042, 0.94505536, 0.94587822])

In [27]:
# Apply SVM Linear Classifier
clf_0 = classifiers[0].fit(X_train_transformed, y_train)
print('The training Model characteritics are ', clf_0)
# Get Prediction from the trained Model
y_pred = clf_0.predict(X_valid_transformed)
# Accuracy of this Model
print('Accuracy of this model', accuracy_score(y_valid, y_pred))
#Precision and Recall of this Model
prec_rec_result = precision_recall_fscore_support(y_valid, y_pred, average='macro')
print('precision :', prec_rec_result[0], 'recall :' ,prec_rec_result[1])

C:\Users\jaoua\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

The training Model characteritics are  LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=0, tol=1e-05,
          verbose=0)
Accuracy of this model 0.9472381270598241
precision : 0.8727206811474542 recall : 0.5864857282162217

In [21]:
# Apply KNN Classifier
clf_1 = classifiers[1].fit(X_train_transformed, y_train)
print('The training Model characteritics are ', clf_1)
# Get Prediction from the trained Model
y_pred = clf_1.predict(X_valid_transformed)
# Accuracy of this Model
print('accuracy of this model is', accuracy_score(y_valid, y_pred))
#Precision and Recall of this Model
prec_rec_result = precision_recall_fscore_support(y_valid, y_pred, average='macro')
print('precision :', prec_rec_result[0], 'recall :' ,prec_rec_result[1])

The training Model characteritics is  KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')
accuracy of this model is 0.9407378157131357
precision : 0.7382674483326244 recall : 0.6706654287355558

In [19]:
# Apply SGD Classifier
clf_2 = classifiers[2].fit(X_train_transformed, y_train)
print('The training Model characteritics are ', clf_2)
# Get Prediction from the trained Model
y_pred = clf_2.predict(X_valid_transformed)
# Accuracy of this Model
print('accuracy of this model is', accuracy_score(y_valid, y_pred))
#Precision and Recall of this Model
prec_rec_result = precision_recall_fscore_support(y_valid, y_pred, average='macro')
print('precision :', prec_rec_result[0], 'recall :' ,prec_rec_result[1])

The training Model characteritics are  SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)
accuracy of this model is 0.9472077517731574
precision : 0.8775828633125451 recall : 0.5844804022283925

In [20]:
# Apply Decision Tree  Classifier
clf_3 = classifiers[3].fit(X_train_transformed, y_train)
print('The training Model characteritics are ', clf_3)
# Get Prediction from the trained Model
y_pred = clf_3.predict(X_valid_transformed)
# Accuracy of this Model
print('accuracy of this model is', accuracy_score(y_valid, y_pred))
#Precision and Recall of this Model
prec_rec_result = precision_recall_fscore_support(y_valid, y_pred, average='macro')
print('precision :', prec_rec_result[0], 'recall :' ,prec_rec_result[1])

The training Model characteritics are  DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')
accuracy of this model is 0.9495314612031651
precision : 0.8145930046306198 recall : 0.6601352115208549

In [21]:
# Apply Random Forest  Classifier
clf_4 = classifiers[4].fit(X_train_transformed, y_train)
print('The training Model characteritics are ', clf_4)
# Get Prediction from the trained Model
y_pred = clf_4.predict(X_valid_transformed)
# Accuracy of this Model
print('accuracy of this model is', accuracy_score(y_valid, y_pred))
#Precision and Recall of this Model
prec_rec_result = precision_recall_fscore_support(y_valid, y_pred, average='macro')
print('precision :', prec_rec_result[0], 'recall :' ,prec_rec_result[1])

The training Model characteritics are  RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=5, max_features=1, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)
accuracy of this model is 0.9392949895964643
precision : 0.46964749479823215 recall : 0.5

C:\Users\jaoua\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [ ]:
## Interpretation :
# We can clearly notice that the accuracy value is not that different between the models. The value is always around 90 %.
# This was somehow expected due to the fact that the 42th Variable has inbalanced classes.
# So comparing the precision and recall of every trained model, we can notice that classifier Decision Tree
# gave us the best results. So we will use later the Decision Tree Classifier for the testing data.

## Performance Metrics

In [22]:
# calculate accuracy score
# Classification Accuracy is the ratio of number of correct predictions to the total number of input samples.
# It works well only if there are equal number of samples belonging to each class which is not really our case 
# but this metric can help us evaluate the performance model
accuracy_score(y_valid, y_pred)

0.9392949895964643

In [23]:
# Precision & recall
# Precision is the number of correct positive results divided by the number of positive results predicted by the classifier
# Recall is the number of correct positive results divided by the number of all relevant samples 
# Output should be (precision, recall, fbeta_score)
precision_recall_fscore_support(y_valid, y_pred, average='macro')

(0.46964749479823215, 0.5, 0.48434869096006705, None)

## Predict Testing Data

In [25]:
# Load the whole training data (not just 70 %)
scaler = preprocessing.StandardScaler().fit(X_train_encoded)
X_train_transformed = scaler.transform(X_train_encoded)
# Load testing data
X_test_transformed = scaler.transform(X_test_encoded)
# train the chosen model on the whole training data  
clf_3 = classifiers[3].fit(X_train_transformed, y_train_encoded)
print('The training Model characteritics is ', clf_3)
# Get Prediction from the chosen trained Model
y_pred = clf_3.predict(X_test_encoded)
# Calculate Accuracy again of this Model
print('accuracy of this model is', accuracy_score(y_test, y_pred))
# Calculate Precision and Recall again of this Model
prec_rec_result = precision_recall_fscore_support(y_test, y_pred, average='macro')
print('precision :', prec_rec_result[0], 'recall :' ,prec_rec_result[1])

The training Model characteritics is  DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')
accuracy of this model is 0.8860087007076843
precision : 0.5617155607716249 recall : 0.5781945516549586

In [38]:
# Visualize Prediction Output Data
y_pred_df = pd.DataFrame(y_pred, columns=['prediction'])

In [44]:
#Count how many samples will earn more or less than 50.000
y_pred_df.groupby('prediction').size()

prediction
 - 50000.    91770
 50000+.      7992
dtype: int64

In [45]:
y_pred_df.head()

  prediction
0   - 50000.
1   - 50000.
2   - 50000.
3   - 50000.
4   - 50000.